body {
    background-color: pink;
}

.image {
    position: relative;
    width: 100%;
}
    
h1 {
    position: absolute;
    top: 50px;
    left: 100px;
    width: 200px;
}

div {
    height: 600px;
display: flex;
align-items: flex-end;
}

img {
    position: relative;
    left: 100px;
    width: 200px;
}

h3 {
    position: absolute;
    top: 700px;
    right: 500;
    width: 90%;
    display: flex; 
    justify-content: flex-end
}