body {
    background-color: pink;
}

.image {
    position: relative;
    width: 100%;
}
    
h1 {
    position: absolute;
    top: 50px;
    left: 55px;
    width: 200px;
}

div {
    height: 500px;
display: flex;
align-items: flex-end;
}

img {
    position: relative;
    left: 50px;
    width: 200px;
    width: 45%;
}

h2 {
    position: absolute;
    top: 530px;
    right: 500;
    width: 84%;
    display: flex; 
    justify-content: flex-end
}